@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding-container: 4rem 0;
    --font-header: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;

    /* primary */
    --pink: hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);

    /* Neutral */
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);
}

body{
    font-family: var(--font-body);
    background-color: var(--VeryDarkCyan);
}


